* {
  margin: 0;
  padding: 0;
}
body {
  overflow-x: hidden;
}
.bg-img {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.3)),
    url("img/BG.png");
  background-size: cover;
  background-position: center bottom;
  background-blend-mode: darken;
  height: 97vh;
  width: 100vw;
  overflow: hidden;
  clip-path: polygon(0% 0%, 100% 0, 100% 100%, 90% 69%, 0% 100%);
}
.banner {
  padding: 8%;
  color: #ffffff;
}

/* Navbar Section Start */
.nav-logo {
  height: 64px;
  width: 62px;
}
ul.navbar-nav li.nav-item a.nav-link {
  transition: all 0.4s;
}
ul.navbar-nav li.nav-item a.nav-link:hover {
  color: #2d94fc;
}
.navbar .container {
  border-bottom: 1px solid rgba(107, 106, 106, 0.6);
  padding: 5px;
}
/* Navbar Section End */

/* Homepage Section Start */
.banner h1 {
  font-family: "Inter", sans-serif;
  /* clip-path: polygon(0 0, 100% 0, 100% 86%, 0 100%); */
}
.banner h3 {
  font-family: "Inter", sans-serif;
}
.banner p {
  font-family: "Inter", sans-serif;
}
.banner a {
  font-family: "Inter", sans-serif;
}
.banner a.btn {
  height: 40px;
  width: 125px;
  padding: 7px;
  background-color: #0097a7;
}
.cr-logo {
  position: absolute;
  bottom: 163px;
  right: 80px;
  z-index: 1008;
  height: 70px;
  width: 85px;
}
/* Homepage Section End */

/* How To Use Section Start */
.container .row .section-head h4 {
  font-family: "Inter", sans-serif;
  color: #0097a7;
  font-weight: bolder;
  font-size: 35px;
}

.item {
  margin: 5px;
  padding: 30px 25px;
  background: #fff;
  text-align: center;
  box-shadow: 0 0 25px rgba(247, 242, 242, 0.7);
  border-radius: 20px;
  margin-bottom: 30px;
  border: 5px solid rgba(241, 239, 239, 0.7);
}
.item:hover {
  background: #0097a7;
  box-shadow: 0 8px 20px 0 rgba(0, 0, 0, 0.2);
  -webkit-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
}
.item:hover .item,
.item:hover span.icon {
  background: #0097a7;
  border-radius: 10px;
  -webkit-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
}
.item:hover h6,
.item:hover p {
  color: #fff;
  -webkit-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
}
/* How To Use Section End */

/* Pricing Section Start */
.card-header {
  height: 120px;
  background-color: #ffffff;
  border: none;
}
.card-header h3 {
  color: #0097a7;
  border-bottom: 1px solid rgba(107, 106, 106, 0.6);
  padding: 30px;
}
.middel-card {
  background-color: #0097a7;
}
.middel-card > h3 {
  color: #ffffff;
}
.col {
  width: 300px;
  height: 250px;
  margin-left: 6%;
}
.btn-primary {
  background-color: #085c65;
}
.price-btn {
  height: 50px;
  width: 160px;
}
/* Pricing Section End */

/* Partner Section Start */
.container .row h4 {
  font-family: "Inter", sans-serif;
  color: #0097a7;
  font-weight: bolder;
  font-size: 35px;
}
/* Partner Section End */

/* Download App Section Start */
.app-img {
  position: relative;
  right: 160px;
  height: 550px;
  width: 750px;
}

/* Download App Section End */

/* Contact Section Start */
.contact {
  background-color: #0097a7;
  border-radius: 10px;
  height: 120px;
}
@import url("https://fonts.googleapis.com/css2?family=Poppins:weight@100;200;300;400;500;600;700;800&display=swap");

body {
  background-color: #eee;
  font-family: "Poppins", sans-serif;
  font-weight: 300;
}

.height {
  height: 100vh;
}

.search {
  position: relative;
  box-shadow: 0 0 40px rgba(51, 51, 51, 0.1);
}

.search input {
  height: 60px;
  text-indent: 25px;
  border: 2px solid #d6d4d4;
  border-radius: 50px;
}

.search input:focus {
  box-shadow: none;
  border: 2px solid blue;
}

.search .fa-search {
  position: absolute;
  top: 20px;
  left: 16px;
}

.search button {
  position: absolute;
  top: 5px;
  right: 5px;
  height: 50px;
  width: 110px;
  background: #0097a7;
  border-radius: 50px;
}

/* Contact Section Start */

/* Responsive Section Start */
@media screen and (max-width: 1200px) {
  .custom-shape-divider-bottom-1680165876 {
    left: -50px;
    width: 125%;
  }
}
@media screen and (max-width: 500px) {
  .custom-shape-divider-bottom-1680165876 {
    left: -80px;
    width: 130%;
  }
}
/* Responsive Section End */
